
body {
    background: linear-gradient(to right, #fefbfb, #767676);
    font-family: Arial, sans-serif;
    color: #242424;
    margin: 0;
    padding: 0;
  }
  
  .sign-up-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .form-container {
    width: 45%;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container form label {
    margin-bottom: 10px;
  }
  
  .form-container form input {
    margin-top: 5px;
    padding: 5px;
    border: none;
    border-radius: 4px;
  }
  
  .form-container form button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  .form-container form button:hover {
    background-color: #555;
  }
  
  .status-container {
    width: 45%;
    border: 1px solid #333;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #555;
  }
  
  th, td {
    padding: 15px; /* Povećan razmak između redova */
    text-align: left;
  }
  
  /* Dodatni stilovi za tabelu */
  th {
    background-color: #d1d1d1;
  }
  
  td {
    background-color: #d2d0d0;
  }
  
  /* Dodajemo dodatni razmak između imena, prezimena i emaila */
  td span {
    display: inline-block;
    margin-right: 20px; /* Razmak između podataka */
  }
  
  h2 {
    margin-top: 0;
  }
  
  input, button {
    color: #000;
  }
  
  /* Stilovi za horizontalno poravnanje input polja */
  .form-container form label {
    display: flex;
    align-items: center;
  }
  
  .form-container form label span {
    width: 200px; /* Širina labela */
  }
  
  .form-container form input {
    flex: 1;
  }